@page
@model PrivacyModel

@{
    ViewData["Title"] = "Ввод данных";
}
<h2>@Model.Message</h2>
<form method="post">
    <label for="name">Имя</label><br />
    <input type="text" name="name" id="name" /><br /><br />
    <label for="age">Возраст</label><br />
    <input type="number" name="age" id="age" /><br /><br />
    <input type="submit" value="Оправить" />
</form>


<h3>В списке @Model.Movie.Count элемента</h3>
@foreach(string country in @Model.Movie)
{
    <p>@country</p>
}